.card-content {
  height: 105px;

  display: flex;
  flex-direction: column;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;  
  background-color: white;

}
.card-top:hover {
  cursor: pointer;
}

.card-middle:hover {
  cursor: pointer;
}

.card-top {
  display: flex;
  justify-content: end;
  width: 95%;
  margin: 1%;
}

.card-middle {
  width: 95%;
  /* font-size: 32px; */
  align-items: center;
  justify-content: center;
  text-align: left;

  height: 50px;
  margin-left: 5%;
  margin-top: 5%;

}

.card-bottom {
  width: 90%;
  text-align: right;
  margin-top: 10%;
  margin-bottom: 0;
  margin-right: 5%;
  display: flex;
  justify-content: space-between;
  margin-left: 5%;
  height: 15%;
  border-top: solid grey .5px;
  align-items: center;
}

.card-title {
  font-size: 13px;
  margin: 0;
}

.card-button {
  background-color: white;
  border: 0;
  font-size: 11px;
  height: 80%;
  text-align: left;
}


.card-btn {
  background-color: white;
  border: none;

}

.card-delete {
  justify-self: flex-end;
  align-self: flex-end;
}

.card-p {
  margin: 0;
  font-size: 10px;

}

.card-date {
  /* margin-left: 20px; */
  font-size: 11px;
  align-self: center;
  margin-top: 7px;
}



.card-button:hover {
  cursor: pointer;
  text-decoration: underline;
}

@media screen and (min-width: 600px) {
  .card-content {
    height: 160px;
    padding: 5px;
  }

  .card-title {
    font-size: 18px;
    margin: 0;
  }

  .card-middle {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: flex-start;


    height: 70px;
    text-align: left;
    padding: 0;
  }

  .card-button {
    text-align: center;
    font-size: 12px;
  }

  .card-p {
    font-size: 15px;
  }

  .card-date {
    font-size: 12px;
  }
}

@media screen and (min-width: 1000px) {
  .card-content {
    height: 175px;
  }

  .card-button {
    font-size: 14px;
  }
}