.mash-body {
  display: grid;
  grid-template-columns: repeat(8, 12.5vw);
  grid-template-rows: repeat(8, calc((100vh - 71.35px)/8));
  background-color: #F4F4F4;
  
}

.mash-title {
  grid-column: 2 / 8;
  text-align: center;
  grid-row: 1 / 2;
  font-size: 1.3em;
  align-self: center;
  margin: 0;
  margin-bottom: 30px;
  justify-content: center;
}

.mash-tile:hover{
  cursor: pointer;
}

.mash-info {
  grid-column: 2 / 8;
  grid-row: 1 / 2;
  text-align: center;
  font-size: 1.25em;
  align-self: end;
  margin: 0;
}

.mash-container {
  grid-column: 2 / 8;
  grid-row: 3 / 7;
  display: flex;
  justify-content: space-around;
  margin-top: 1%;
  flex-direction: column;
  align-items: center;
  margin-top: 3vh;
}

.mash-image {
  width: 18vh;
  height: 24vh;
  padding: 2vh;
  background-color: white;
  justify-self: center;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 15px;
}

.mash-label {
  text-align: center;
  font-size: 18px;
  margin-top: 5px;
}

.mash-text {
  align-self: center;
  font-size: 1.5em;
  margin: 0;
  margin-bottom: 10px;
}

.mash-endButton {
  width: 75%;
  height: 5vh;
  align-self: center;

  grid-column: 3 / 7;
  grid-row: 7 / 9;
  justify-self: center;
  background-color: white;
  margin-top: 30px;

  border: 0;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.mash-endButton:hover {
  cursor: pointer;
}

.mash-stats {
  grid-column: 2 / 8;
  grid-row: 7 / 9;

  width: 80%;
  justify-self: center;
  align-self: flex-end;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: right;
  font-size: 1em;
}

.mash-clicks {
  font-size: 1.1em;
}

.mash-infoButton {
  border-radius: 30px;
  width: 25px;
  height: 25px;

  display: flex;
  font-size: 14px;
  justify-content: center;
  align-items: center;

  grid-column: 4 / 6;
  grid-row: 2 / 3;

  align-self: flex-start;
  justify-self: center;

  margin-top: 4px;

  border: solid grey 2px;
}



@media screen and (min-width: 400px) {
  .mash-image {
    width: 15vh;
    height: 20vh;
  
    justify-self: center;
  }

  .mash-stats {
    font-size: 1em;
  }
  
}

@media screen and (min-width: 600px) {
  .mash-image {
    width: 21vh;
    height: 28vh;
  
    justify-self: center;
  }
  
  .mash-container {
    flex-direction: row;
    grid-row: 3 / 8;

  }

  .mash-title {
    font-size: 2em;
    grid-row: 1 / 3;
  }

  .mash-info {
    font-size: 1.5em;
    grid-row: 2 / 3;
  }

  .mash-endButton {
    width: 50%;
    font-size: 1.5vh;
    grid-row: 7 / 8;
  }

  .mash-infoButton {
    width: 25px;
    height: 25px;
    font-size: 16px;
    align-self: center;
    text-decoration: none;
    font-weight: none;
    grid-row: 3 / 4;
  }

  .mash-stats {
    font-size: 2vh;
    grid-row: 8 / 9;
    align-self: center;
  }
  .mash-clicks {
    padding: 10px;
  }
}

@media screen and (min-width: 1000px) {
  .mash-container {
    grid-column: 3 / 7;
    grid-row: 3 / 7;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    margin-top: 2vh;
  }

  .mash-image {
    width: 30vh;
    height: 40vh;
  }

  .mash-endButton {
    grid-column: 4 / 6;
    grid-row: 7 / 8;
    width: 40%;
    height: 7vh;
    font-size: 1em;
  }

  .mash-stats {
    grid-column: 3 / 7;
    margin-top: 1vh;
    font-size: 1em;
    grid-row: 8 / 9;
  }

  .mash-text {
    align-self: center;
    font-size: 3em
  }

  .mash-info {
    font-size: 1.5em;
    grid-row: 2 / 3;
    align-self: start;
  }

  .mash-title {
    font-size: 2.5em;
    align-self: center;
    margin: 0;
    grid-row: 1 / 2;
  }

  .mash-infoButton {
    align-self: end;
    grid-row: 2 / 3;
  }
}

